ERG/bin/Debug/ERG.exe.config
ERG/bin/Debug/ERG.vshost.exe.config
ERG/bin/Debug/ERG.vshost.exe.manifest
ERG/bin/Release/ERG.exe.config
ERG/bin/Release/ERG.vshost.exe.config
ERG/bin/Release/ERG.vshost.exe.manifest
ERG/obj/Debug/ERG.Form1.resources
ERG/obj/Debug/ERG.Properties.Resources.resources
ERG/obj/Debug/ERG.csproj.FileListAbsolute.txt
ERG/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ERG/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ERG/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ERG/obj/Release/ERG.Form1.resources
ERG/obj/Release/ERG.Properties.Resources.resources
ERG/obj/Release/ERG.csproj.FileListAbsolute.txt
ERG/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ERG/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ERG/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
